body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.table-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    overflow-x: auto;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.table img {
    border-radius: 5px;
}

.table a {
    text-decoration: none;
    color: #5cb85c;
    padding: 5px 10px;
    border: 1px solid #5cb85c;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.table a:hover {
    background-color: #5cb85c;
    color: white;
}